<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">
        
        {% if site.environment == "dev" %}
        <link rel="stylesheet" href="{{'/localfiles/css/bootstrap.min.css' | prepend: site.baseurl }}">
        
        {% elsif site.environment == "production" %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        {% endif %}
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend:site.baseurl | append:'?v=1238'}}">
        {% include headtags.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
        {% include myheader.html %}
        {{ content }}
        {% include myfooter.html %}
        </div>
        {% if site.environment == "dev" %}
        <script src="{{ '/localfiles/js/jquery-1.11.1.min.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/localfiles/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
        {% elsif site.environment == "production" %}
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% endif %}
        <script src="{{ '/assets/js/main.js' | site.baseurl }}"></script>
       {% include footertags.html %}
    </body>
</html>
